{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BSIT Blackboard</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal">
		{% include 'includes/student_sidebar.html' %}

		<div class="p-4 sm:ml-64">
			<div class="flex mx-4 mt-24">
				<p class="text-2xl font-bold mb-24">
					Start Quizz - (
					<b class="text-blue-400 underline">{{quizz.title}}</b>
					)
				</p>
			</div>

			<div>
				<div class="flex flex-wrap -mx-3 mb-6">
					{% for items in questions %}
					<div class="w-full px-3 mb-4 flex flex-row items-center flex-wrap">
						<div class="relative flex items-center mr-2">
							
							<input
								type="text"
								name="answer{{ items.id }}"
								placeholder="Type your answer here"
								class="block appearance-none w-[300px] shadow-xl bg-green-400 border-b-4 border-t-transparent border-r-transparent border-l-transparent text-gray-700 py-3 px-4 pr-8 rounded leading-tight" />
							<p class="answer hidden">{{items.answer}}</p>
						</div>
						<label
							class="block uppercase tracking-wide text-gray-900 text-xs font-bold"
							for="grid-state">
							{{ forloop.counter }}. {{items.question}}
						</label>
					</div>
					{% endfor %}
				</div>

				<button
					type="button"
					id="submitButton"
					class="bg-green-600 text-white py-2 px-6 rounded-xl shadow-md shadow-green-600 hover:scale-110 duration-300">
					Submit
				</button>
			</div>
		</div>

		<!-- Main modal -->
		<center>
			<div
				id="default-modal"
				tabindex="-1"
				aria-hidden="true"
				class="hidden overflow-y-auto overflow-x-hidden fixed mt-40 right-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
				<div class="fixed inset-0 bg-gray-800 bg-opacity-85 transition-opacity"></div>
				<div class="relative p-4 w-full max-w-2xl max-h-full">
					<!-- Modal content -->
					<div class="relative bg-white rounded-lg shadow">
						<!-- Modal header -->
						<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
							<h3 class="text-xl font-semibold text-gray-900">Congratulations</h3>
							<button
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
								data-modal-hide="default-modal">
								<svg
									class="w-3 h-3"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 14 14">
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<!-- Modal body -->
						<div class="p-4 md:p-5 space-y-4">
							<p
								id="scoreText"
								class="text-xl leading-relaxed text-gray-900">
								Your score is
							</p>
							<p>Over {{questions_number}} Items</p>
						</div>
						<!-- Modal footer -->
						<div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
							<form
								action="#"
								method="POST"
								enctype="multipart/form-data">
								{% csrf_token %}
								<input
									type="number"
									name="score"
									id="scoreInput"
									hidden />

								<button
									type="submit"
									name="submit"
									class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
									Submit Result
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</center>

		<script>
			document.getElementById("submitButton").addEventListener("click", function () {
				var inputs = document.querySelectorAll('input[type="text"]');
				var score = 0;
				inputs.forEach(function (input) {
					var userAnswer = input.value.trim();
					var parent = input.parentElement;
					var answerElement = parent.querySelector(".answer");
					if (answerElement) {
						var correctAnswer = answerElement.textContent.trim();
						if (userAnswer === correctAnswer) {
							score++;
						}
					} else {
						console.log("No answer element found for input:", input);
					}
				});

				// Update the modal content with the score
				document.getElementById("scoreText").textContent = "Your score is " + score;

				// Update the value of the input element with the score
				document.getElementById("scoreInput").value = score;

				// Show the modal
				var modal = document.getElementById("default-modal");
				modal.classList.remove("hidden");
				modal.setAttribute("aria-hidden", "false");
			});

			// Add event listener to close modal button
			var closeModalButtons = document.querySelectorAll('[data-modal-hide="default-modal"]');
			closeModalButtons.forEach(function (button) {
				button.addEventListener("click", function () {
					var modal = document.getElementById("default-modal");
					modal.classList.add("hidden");
					modal.setAttribute("aria-hidden", "true");
				});
			});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
