{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Announcements</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		{% tailwind_css %}
	</head>
	<body>
		{% include 'includes/instructor_sidebar.html' %}

		<div class="p-2 sm:p-4 sm:ml-64 mt-24">
			<!-- Modal toggle -->

			<div class="p-4">
				<div class="flex justify-end text-white mb-2">
					<button
						data-modal-target="authentication-modal"
						data-modal-toggle="authentication-modal"
						class="flextext-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
						type="button">
						Create Announcements
					</button>
				</div>

				{% for message in messages%} {% if message.level_tag == 'success' %}
				<p class="text-center text-green-400 font-bold mt-14 text-md">{{message}}</p>
				{% else %}
				<p class="text-center text-red-400 font-bold mt-14 text-md">{{message}}</p>
				{%endif%} {% endfor %}

				<!-- component -->

				<div class="bg-gray-10 items-center justify-start">
					<div class="px-1 sm:px-8 py-1 sm:py-8">
						{% for announcement in announcements %}
						<div class="bg-white rounded-2xl px-10 my-8 py-8 transition border-2 border-black">
							<div class="flex items-center">
								<div class="w-14 h-14 bg-blue-500 rounded-full flex items-center justify-center font-bold text-white">
									<i class="fa fa-user-circle text-xl" aria-hidden="true"></i>
								</div>
								<div class="flex flex-col w-full">
									<div class="flex justify-between">
										<p class="ml-2 text-gray-500">{{announcement.uploader.first_name}}</p>
										<a
											href="{% url 'deleteannouncement' announcement.id %}"
											class="flex items-center justify-center text-sm text-red-400 font-bold">
											<i
												class="fa fa-trash mr-2"
												aria-hidden="true"></i>
											Remove
										</a>
									</div>
									<p class="ml-2 text-xs">Posted an Announcement</p>
								</div>
							</div>
							<div class="mt-4">
								<h1 class="text-lg text-gray-700 font-semibold hover:underline cursor-pointer">
									{{announcement.title}}
								</h1>
								<p class="mt-2 text-sm font-semibold text-gray-400">{{announcement.upload_date}}</p>
								<p class="mt-4 text-md text-gray-600 break-all">{{announcement.description}}</p>
								{% if announcement.file %}
								<img
									src="{{ announcement.file.url }}"
									class="mt-4 rounded-lg"
									alt="" />
								{% endif %}
								<hr />
								<div>
									<img
										src=""
										alt="" />
								</div>
								<div class="flex justify-between items-center">
									<!-- <div class="mt-4 flex items-center space-x-4 py-6">
										<a
											href="#" 
											class="text-md font-semibold hover:text-blue-400 hover:scale-105 duration-300">
											<i class="fa-solid fa-thumbs-up"></i>
											{{ announcement.likes }} Likes
										</a>
									</div> -->
									
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!-- Main modal -->
		<div
			id="authentication-modal"
			tabindex="-1"
			aria-hidden="true"
			class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
			<div class="relative p-4 w-full max-w-3xl max-h-full">
				<!-- Modal content -->
				<div class="relative bg-white rounded-lg shadow">
					<!-- Modal header -->
					<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
						<h3 class="text-xl font-semibold text-gray-900">Create new Announcements</h3>
						<button
							type="button"
							class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
							data-modal-hide="authentication-modal">
							<svg
								class="w-3 h-3"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 14 14">
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
							</svg>
							<span class="sr-only">Close modal</span>
						</button>
					</div>
					<!-- Modal body -->
					<div class="p-4 md:p-5">
						<form
							class="space-y-4"
							action="#"
							method="post"
							enctype="multipart/form-data">
							{% csrf_token %}
							<div>
								<label
									for="title"
									class="block mb-2 text-sm font-medium text-gray-900">
									Title
								</label>
								<input
									type="text"
									name="title"
									id="title"
									class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
									placeholder="How to make Lumpia"
									required />
							</div>
							<div class="mb-3">
								<label
									for="formFile"
									class="mb-2 inline-block text-neutral-500">
									Insert File
									<span class="text-xs text-orange-300">(only 1 file can upload per Announcement)</span>
								</label>
								<input
									class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-blue-200 bg-transparent bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-surface transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:me-3 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-e file:border-solid file:border-inherit file:bg-transparent file:px-3 file:py-[0.32rem] file:text-surface focus:border-green-400 focus:text-gray-700 focus:shadow-inset focus:outline-none"
									type="file"
									name="file"
									id="formFile" />
							</div>
							<div class="col-span-2">
								<label
									for="description"
									class="block mb-2 text-sm font-medium text-gray-900">
									Details
								</label>
								<textarea
									id="description"
									name="description"
									rows="4"
									class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Write very long description here"
									required></textarea>
							</div>
							<div>
								<button
									type="submit"
									class="w-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
									POST
								</button>
								<button
									data-modal-hide="authentication-modal"
									class="w-lg text-white bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
									Close
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
