{% load static tailwind_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BSIT Blackboard</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />

		<!-- DataTables CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />

		<!-- jQuery -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<!-- DataTables JS -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />

		{% tailwind_css %}
	</head>

	<body class="bg font-sans leading-normal tracking-normal overflow-x-hidden">
		{% include 'includes/instructor_sidebar.html' %}

		<div class="p-4 sm:ml-64 bg-gray-900/60 h-screen">
			<div class="flex items-center justify-between mx-4 mt-24">
				<p class="text-2xl font-bold">
					Questions for Quiz -
					<b class="text-green-600">{{quizz.title}}</b>
				</p>

				<button
					data-modal-target="questions-modal"
					data-modal-toggle="questions-modal"
					class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
					type="button">
					<i
						class="fa fa-plus-circle mr-1"
						aria-hidden="true"></i>
					Add Question
				</button>
			</div>

			{% for message in messages%} {% if message.level_tag == 'success' %}
			<p class="text-center text-green-400 font-bold mt-14 text-md">{{message}}</p>
			{% else %}
			<p class="text-center text-red-400 font-bold mt-14 text-md">{{message}}</p>
			{%endif%} {% endfor %}
			<div class="py-8 mt-4 text-center">
				<table
					id="example"
					class="w-full display">
					<thead>
						<tr class="text-white">
							<th class="px-6 py-3">Question</th>
							<th class="px-6 py-3">Answer</th>
							<th class="px-6 py-3">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for lists in questions %}
						<tr>
							<td class="px-6 py-4">{{lists.question}}</td>
							<td class="px-6 py-4">{{lists.answer}}</td>
							<td class="px-6 py-4">
								<a
									href="{% url 'deletequestion' lists.id %}"
									class="bg-red-700 hover:bg-red-900 duration-300 py-1.5 px-4 rounded-xl text-white text-sm">
									<i
										class="fa fa-trash"
										aria-hidden="true"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<!-- Main modal -->
		<div
			id="questions-modal"
			tabindex="-1"
			aria-hidden="true"
			class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
			<div class="relative p-4 w-full max-w-2xl max-h-full">
				<!-- Modal content -->
				<form
					action="#"
					method="POST"
					enctype="multipart/form-data">
					{% csrf_token %}
					<div class="relative bg-white rounded-lg shadow">
						<!-- Modal header -->
						<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
							<h3 class="text-xl font-semibold text-gray-900">Add Quizz</h3>
							<button
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:text-white"
								data-modal-hide="quizz-modal">
								<svg
									class="w-3 h-3"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 14 14">
									<path
										stroke="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<!-- Modal body -->
						<div class="p-4 md:p-5 space-y-4">
							<div class="mb-12">
								<label
									for="title"
									class="block mb-2 text-sm font-medium text-gray-900">
									Question
								</label>
								<input
									type="text"
									id="question"
									name="question"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 placeholder-gray-400 shadow-sm-light"
									placeholder="What is HTML?"
									required />
							</div>
							<div class="mb-2 mt-8">
								<label class="block mb-2 text-sm font-medium text-gray-900">Answer Here</label>
								<div class="flex items-center my-2">
									<input
										type="text"
										id="answer"
										name="answer"
										class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 placeholder-gray-400 shadow-sm-light"
										placeholder="Don't forget to put answer here."
										required />
								</div>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
							<button
								type="submit"
								name="submit"
								class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
								Create
							</button>
							<button
								data-modal-hide="questions-modal"
								type="button"
								class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100">
								Decline
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

		<script>
			$(document).ready(function () {
				$("#example").DataTable();
			});
		</script>
	</body>
</html>
